<div class="col-sm-10" >
  <div class="row">
    <div class="col-xs-2 image <%= 'float-right' if message.user == current_user %>" >
      <a href="javascript:void(0);">
      	<img title="<%= message.user.fullname %>" class="img-thumbnail img-responsive img-circle " src="http://api.randomuser.me/portraits/women/22.jpg"  style="width:70px;">
      </a>
    </div>  
    <div class="col-xs-10 <%=  %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= message.body %>
          <br>
          <span class="label label-info"><%= message.created_at.try(:strftime,"%b %d, %Y") %></span>
        </div>
      </div>
    </div><!--/col-->
  </div><!--/row-->
</div>
