<h1>Listing messages</h1>

<h1>Chat</h1>

<ul id="chat">
  <%= render @messages %>
</ul>



<%= simple_form_for(@message , remote: true)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# f.input :user_id %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= subscribe_to "/messages/new" %>
