<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title ,require:true%>
    <div class="form-group desc optional blog_desc">
      <label class="desc optional control-label" for="blog_desc">Desc</label>
      <textarea class="string desc optional form-control"  name="blog[desc]"rows="5" id="desc" require></textarea>
    </div>
    
    <%= f.input :url %>
    <%= f.input :tags %>
    <%= f.input :type %>
    <%= f.input :sub_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <input class="btn btn-danger" type="reset" value="Reset">
  </div>
<% end %>

