<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @blog.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blog.url %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<p>
  <strong>Sub type:</strong>
  <%= @blog.sub_type %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
