<%= render "home/jumbo" unless user_signed_in? %>
 <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
        <div class="box">
            <div class="panel panel-default">
                  <%= link_to image_tag(pin.image.url(:medium)) ,pin%>
               <div class="panel-body">
                    <%= pin.descrption %><br />
                  <strong><%= pin.user.first_name %></strong>    
                </div>
                <% if pin.user == current_user %>
                    <div class="panel-footer">
                        <%= link_to 'Edit', edit_pin_path(pin) %>
                        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                <% end %>
            </div>        
        </div>   
    <% end %>
 </div>
  <div class="center">
 <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
  </div>