<p id="notice"><%= notice %></p>
<%= image_tag  @pin.image.url(:medium)%>
<p>
  <strong>Descrption:</strong>
  <%= @pin.descrption %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
