<div class="row">
     <div class="col-md-offset-2 col-md-8 center">
          <div class="panel panel-default center">
                  <div class="panel-heading ">
                  <%= image_tag  @pin.image.url(:normal)%>
                  </div>
                <div class="panel-body">
                    <%= @pin.descrption %><br />
                     <%= like_for(@pin) %>
                     <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <strong><%= @pin.user.fullname %></strong> <br />   
                <% if user_signed_in? %>  
                    <% if @pin.user == current_user %>
                       <%= link_to 'Edit', edit_pin_path(@pin) %>
                    <% end %> 
                <% end %>     
                    <%= link_to 'Back',pin_path %>
                    
                </div>    
            </div>  
        </div>
    </div>
</div>    
