<!DOCTYPE html>
<html ng-app>
<head>
  <title>Photo Share</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <!-- Include jQuery, this can be omitted if it's already included -->

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, intial-scale=1, maximum-scale=1">
</head>
<body>

<%= render "home/header" %>
<div class="container" >
  
  <% flash.each do | name , msg| %>
      <%= content_tag(:div, msg, class:"alert alert-info") %>
  <% end %>
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      <li> <%= link_to "List Pins" , pins_path %></li>
      <li> <%= link_to "List Blogs" , blogs_path %></li>
      <li> <%= link_to "List Preetty Url" , prettylinks_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Add Pin" ,new_pin_path  %></li>
        <li><%= link_to "Messages" ,messages_path  %></li>
        <li><%= link_to "Add Preetty Url" ,new_prettylink_path  %></li>
        <li><%= link_to "Add Blog" ,new_blog_path  %></li>
      <% end %>
      </ul>
    </div>
    <div class="col-sm-9  main">
      <%= yield %>
    </div>
  </div>
  
</div>
</body>
</html>
